<div class="backdrop outside">
  <div id='big-container'>
    <div id="sidebar">
    </div>
    <div id="content" class="clearfix">
      <div id="middle-content">
      </div>
      <div id="right-content">
      </div>
    </div>
  </div>
</div>

<div id="notebooks-modal" class="modal fade"></div>
<div id="tags-modal" class="modal fade"></div>
