<div class="backdrop outside">
  <div id='big-container'>
    <div id="sidebar">
    </div>
    <div id="content">
      <div id="middle-content">
      </div>
      <div id="right-content">
      </div>
    </div>
  </div>
</div>
