<div class="container">
  <%= render 'shared/form', form_action: session_url, submit_text: "Log In", user: @user %>
  <div class="form-signin">
    <a href="<%= new_user_url %>" class="switch-button">
      <button class="btn btn-lg btn-primary btn-block btn-info">Sign Up</button>
    </a>
  </div>
</div>
