<div id="landing-wrapper">
  <!-- navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
      </button>

      <a class="navbar-brand" href="/#">ZephyrNote</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-default" role="navigation">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="#Login">Login</a></li> -->
            <!-- going to use this part t0 navigate to different sections -->
            <!--
            <li><a href="#technologies">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            -->
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <header>
    <div class="header-content">
      <h1>A web application for creating, editing, and organizing notes.</h1>
      <hr>
      <p>Built using Ruby on Rails, PostgreSQL, and Backbone.js</p>
    </div>
  </header>

  <section id="intro-block">
    <div class="container-fluid">

    </div>
  </section>

  <!-- login block -->
  <section id="login-block" class="bg-dark-blue">
    <div class="container-fluid">
      <div class="row">
        <%= render 'shared/form', form_action: session_url, submit_text: "Log In", user: @user %>
        <div class="col-md-4 col-md-offset-4">
          <h1 class="text-center">OR</h1>
          <a href="<%= new_user_url %>" class="switch-button">
            <button class="btn btn-lg btn-primary btn-block btn-info">Sign Up</button>
          </a>
        </div>
      </div>
    </div>
  </section>

</div>
