<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

    <h4 class="modal-title">
      <%= item.isNew() ? "Create" : "Edit" %>
    </h4>

    <form>
      <div class="modal-body">
          <label for="item-title">Title</label>
          <input
            type="text"
            id="notebook-title"
            class="form-control"
            name="<%= (item.routesName === 'notebooks') ? "notebook" : "tag" %>[title]"
            value="<%= item.get('title') %>">
          </input>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger delete">Delete</button>
        <button type="submit" class="btn btn-default submit">Submit</button>
      </div>
    </form>

  </div>
</div>

