<a href="#"><%= title %><span class="fa fa-angle-right pull-right"></span></a>
<ul class="nav nav-second-level collapse container-list"></ul>

<div class="<%= title.toLowerCase() %>-modal modal fade"> </div>
