<div class="container-header">
  <h1><%= (view.notebook) ? "Notebooks" : "Tags" %></h1>
</div>

<div class='container-list-header clearfix'>

  <div class="new-item-link">
    <% if (view.notebook) { %>
      <a href='#/notebooks/new'>New Notebook</a>
    <% } else { %>
      <a href='#/tags/new'>New Tag</a>
    <% } %>
  </div>

  <div class="sort-by-section">
    <p>Sort by:</p>
  </div>

</div>


<div class='container-list'>
</div>
