<div class="container-header">
  <h1><%= (view.notebook) ? "Notebooks" : "Tags" %></h1>
</div>

<div class='container-list-header clearfix'>

  <div class="new-item-link">
    <% if (view.notebook) { %>
      <a href='#/notebooks/new'>New Notebook</a>
    <% } else { %>
      <a href='#/tags/new'>New Tag</a>
    <% } %>
  </div>

  <div class="sort-by-section dropdown">

    <button
      class="btn btn-default dropdown-toggle"
      type="button"
      id="doropdownMenu1"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="true">
      Sort by<span class="caret"></span>
    </button>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#" class="sort-button">Created - ascending</a></li>
      <li><a href="#" class="sort-button">Created - descending</a></li>
      <li><a href="#" class="sort-button">Updated - ascending</a></li>
      <li><a href="#" class="sort-button">Updated - descending</a></li>
      <li><a href="#" class="sort-button">Title - ascending</a></li>
      <li><a href="#" class="sort-button">Title - descending</a></li>
    </ul>

  </div>

</div>


<div class='container-list'>
</div>
