<a href="#"><%= title %><span class="fa fa-angle-right pull-right"></span></a>
<ul class="nav nav-second-level collapse container-list"> </ul>

<!--have to make this unique for both notebooks and tags-->
<div class="my-modal modal fade"> </div>
