<h1>
  <%= notebook.isNew() ? "Create Notebook" : "Edit Notebook" %>
</h1>
<label for="notebook-title">Title</label>
  <input
    type="text"
    id="notebook-title"
    name="notebook[title]"
    value="<%= notebook.get('title') %>">
  </input>
<input type="submit" value="submit">
