<div class="container">
  <%= render 'shared/form', form_action: users_url, submit_text: "Sign Up", user: @user %>
  <div class="form-signin">
    <a href="<%= new_session_url %>" class="switch-button">
      <button class="btn btn-lg btn-primary btn-block btn-info">Log In</button>
    </a>
  </div>
</div>
