<form>

  <div class="navbar navbar-default">
    <div class="container-fluid form-inline">
      <div class="navbar-form clearfix">
        <div id="notebooks-form"></div>
        <div id="tags-form"></div>
        
        <div class="navbar-right">
          <% if ( !(note.isNew()) ) { %>
            <button type="button" class="btn btn-danger delete">Delete</button>
          <% } %>
          <button type="submit" class="btn btn-default submit">Save</button>
        </div>

      </div>
    </div>
  </div>

  <div class="">
    <div class="form-group form-title-wrapper">
      <input
        id="note-title"
        class="form-control form-title-input"
        type="text"
        name="note[title]"
        value="<%= note.get('title') %>"
      >
      </input>
    </div>

    <div id="note-body-form">
    </div>

  
  </div>
</form>

<div class="confirm-modal modal fade">
</div>
