<form>
  <div class="navbar navbar-default">
    <div class="navbar-form clearfix">
      <div id="notebooks-form" class="navbar-left"></div>
      <div id="tags-form" class="navbar-left form-group"></div>
      <div class="form-group navbar-right">
        <button type="submit" class="btn btn-primary submit navbar-right">Save</button>
        <% if ( !(note.isNew()) ) { %>
          <button type="button" class="btn btn-danger delete navbar-right">Delete</button>
        <% } %>
      </div>
    </div><!-- navbar-form -->
  </div><!-- /.navbar -->

  <div class="">
    <div class="form-group form-title-wrapper">
      <input
        id="note-title"
        class="form-control form-title-input"
        type="text"
        name="note[title]"
        value="<%= note.get('title') %>"
      >
      </input>
    </div>

    <div id="note-body-form">
    </div>

  
  </div>
</form>

<div class="confirm-modal modal fade">
</div>
