<div class="col-md-6 col-md-offset-3">
  <h1><%= note.isNew() ? "New" : "Edit" %>Note</h1>
  <form>

    <div id="notebooks-form">
    </div>

    <div id="tags-form">
    </div>

    <div class="form-group">
      <label for="note-title">Title</label>
      <input
        id="note-title"
        class="form-control"
        type="text"
        name="note[title]"
        value="<%= note.get('title') %>"
      >
      </input>
    </div>

    <div id="note-body-form">
    </div>

  </form>

  
</div>
<!-- eventuallly add a cancel button -->
