<a href= '#/notes/<%= this.model.id%>'>
  <div class="note-item-container">
    <span><%= note.get('title') %></span>
    <br>
    <div class="timestamp">
      <small><abbr class="timeago" title="<%= note.get('updated_at') %>">
          <%= note.get('updated_at') %>
      </abbr><small>
    </div>
  </div>
</a>

