<!-- maybe add an octothorpe here if parent is a tag -->
<div class='notes-index-header'>
  <% if (parent.get) { %>
    <h1><%= parent.get('title') %></h1>
    <a href="#<%= parent.routesName %>/<%= parent.id %>/edit">
      <span class="glyphicon glyphicon-edit"></span>
    </a>
  <% } else { %>
    <h1>Notes</h1>
  <% } %>
</div>

<div class="notes">
</div>

<% if ( parent && parent.routesName === 'notebooks') { %>
  <a href="#notebooks/<%= parent.id %>/notes/new">New Note</a>
<% } %>
