<!-- maybe add an octothorpe here if parent is a tag -->
<div class='notes-index-header'>
  <% if (parent.get) { %>

    <div class="sort-by-section dropdown">
      <button
        class="btn btn-link dropdown-toggle"
        type="button"
        id="doropdownMenu1"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="true">
        Sort by <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#" class="sort-button">Title</a></li>
        <li><a href="#" class="sort-button">Created - newest</a></li>
        <li><a href="#" class="sort-button">Created - oldest</a></li>
        <li><a href="#" class="sort-button">Updated - newest</a></li>
        <li><a href="#" class="sort-button">Updated - oldest</a></li>
      </ul>
    </div>

    <h1><%= parent.get('title') %></h1>
    <a href="#<%= parent.routesName %>/<%= parent.id %>/edit" class="edit-notebook-link">
      <span class="glyphicon glyphicon-edit"></span>
    </a>
  <% } else { %>
    <h1>Notes</h1>
  <% } %>
</div>


<div class="notes">
</div>

<div class="nc-modal modal fade">
</div>
