#landing-wrapper {
  background-color: white;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  /*color: white;*/

  #logos-block {
    color: black;
    img {
      width: 90%;
      max-height: 300px;
    }
  }

  #login-block {
    color: white;
  }

  .form-signin {
    max-width: 330px;
    margin: 0 auto;
  }

  .switch-button {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  .navbar .navbar-brand {
      background: url(/assets/logo.png) no-repeat 15px 6px;
      background-position-x: 8%;
      background-position-y: 50%;
      background-size: 31px;
      padding: 15px 15px 15px 50px;
  }

  header > .header-content {
    text-align: center;
    background: url(/assets/landing-background.jpg) center;
    padding: 100px 15px;
    background-size: cover;

    h1 {
      font-size: calc(100% + 4vw);
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .bg-dark-blue {
    background-color: #34495e;
  }
}
