#right-content {
  #full-editor {
    padding: 0 0;
  }

  .ql-editor {
    border: 1px solid #ECECEC;
    min-height: 400px !important;
  }

  .note-title {
    margin: 0 auto;
  }

  .note-show {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 0 0;
  }

  .note-show > * {
    border-bottom: 1px solid black;
  }
}
