.container-index {
  overflow: hidden;
}

.container-header {
  position: relative;
  color: #fff;
  background-color: #393D41;
  text-align: center;
}

.container-header h1 {
  display: inline-block;
}

.container-list-item {
  height: 50px;
  border-bottom: 1px solid #ECECEC;
}

.container-list-item a {
  display: block;
  height: 100%;
  color: #000;
  padding: 5px 5px 5px 5px;
}

.container-list-item a:hover {
  text-decoration: none;
  color: #FFF;
  /*add some cool background thing here*/
}

.container-list-item:hover {
  color: #FFF;
  background-color: #3BC26B;
}

.container-list-header {
  width: 100%;
}

.new-item-link {
  display: block;
  float: left;
}

button.new-item-button {
  color: #FFF;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: #ECECEC;
  }
}

div.new-item-link {
  display: block;
  float: right;
}
