#right-content {
  #tags-target {
    display: inline;
  }

  .tt-suggestion {
    padding-left: 10px;
  }

  .tt-input {
    min-width: 10em;
  }

  .navbar-form > * {
    margin: 0 5px 0 5px;
  }

  .navbar {
    margin-bottom: 0;
  }

  .form-title-wrapper {
    margin-top: 20px;
  }

  .form-title-input {
    border: 0;
    box-shadow: inset 0 0 0 #000;
    -webkit-box-shadow: inset 0 0 0 #000;
    font-size: 20px;
    color: #2DBE60;
  }

  div.bootstrap-tagsinput {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  /* there's something weird going on with input groups and their display: */
  /* table styling. For now, this seems to fix it, no idea why.*/
  #notebooks-form .input-group-addon,
  #notebooks-form .input-group-btn {
    width: initial;
  }
}
