.notes-index {
  width: 50%;
  margin: auto;
}

.notes-index-header {
  position: relative;
  color: #fff;
  background-color: #393D41;
  text-align: center;
}

.notes-index-header h1 {
  display: inline-block;
  /*probably want to change the font eventuall*/
}

.notes-index-header a {
  position: absolute;
  top: 10%;
  right: 3%;
  color: #FFF;
}

.notes-index-header a:hover {
  text-decoration: none;
  color: #3BC26B;
}

.note-list-item {
  height: 50px;
  border-bottom: 1px solid #ECECEC;
}

.note-list-item a {
  display: block;
  height: 100%;
  color: #000;
}

.note-list-item a:hover {
  text-decoration: none;
  color: #FFF;
  /*add some cool background thing here*/
}

.note-list-item:hover {
  color: #FFF;
  background-color: #3BC26B;
}
