
#big-container {
  background-color: #F8F8F8;
}

#sidebar {
  .navbar .navbar-brand {
      background: url(/assets/logo.png) no-repeat 15px 6px;
      background-position-x: 8%;
      background-position-y: 50%;
      background-size: 31px;
      padding: 15px 15px 15px 50px;
  }

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
      .navbar .navbar-brand {
          background: url(/assets/logo.png) no-repeat 15px 6px;
          background-position-x: 8%;
          background-position-y: 50%;
          background-size: 31px;
      }
  }

  @media (min-width: 768px) {
      width: 250px;
      height: 100vh;
      float: left;
      background-color: #f8f8f8;
      .navbar {
          position: absolute;
      }

      .navbar .navbar-brand {
          text-align: center;
          background: url(/assets/logo.png) no-repeat center 10px;
          background-size: 175px;
          line-height: 270px;
          margin: 0;
          padding: 15px 15px;
      }

      @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) {
          .navbar .navbar-brand {
              background: url(/assets/logo.png) no-repeat center 10px;
              background-size: 175px;
          }
      }

      .navbar .navbar-header:hover {
          color: #333;
          background-color: #eee;
      }

      .navbar, .navbar .navbar-brand {
          width: 250px;
          height: 185px;
      }

      .sidebar {
          z-index: 1;
          position: absolute;
          width: 250px;
          margin-top: 185px;
          max-height: calc(100vh - 185px);
          overflow-y: auto;
      }
  }/* end of @media (min-width: 780px) */

  .sidebar-nav .active > a{
      background-color: #eee;
  }

  .sidebar .nav-second-level li a {
    padding-left: 37px;
  }
}
