<input type="hidden" name="note[tag_ids][]" value="">
<label for="tag-boxes">Tags</label>
<div class='checkbox' id="tag-boxes">
  <% tags.each( function(tag) { %>
    <label class="checkbox-inline"
      ><input
        type="checkbox"
        name="note[tag_ids][]"
        value="<%= tag.id %>"
        <% if (tagIds.indexOf(tag.id) !== -1 ) { %> checked <% } %>
      ><%= tag.get('title') %></label>
  <% }) %>
</div>


<input type="text" name="tags" placeholder="Tags" class="tm-input"></input>
