<button id='log-out-button' type='button' class="btn btn-default btn-xs">
  <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
</button>
<hr>
<p>cleverNote</p>
<hr>
<button id="home-button" type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
</button
><hr><button id="notebooks-button" type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
</button
><hr><button id="tags-button" type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
</button><hr>

<!-- might want to use the btn-group-vertical bootstrap class>
