<a href="#">
  <img src="assets/logo.png"</img>
</a>
<hr>
<button id="home-button" type="button" class="btn btn-default btn-circle">
  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
</button
><hr><button id="notebooks-button" type="button" class="btn btn-default btn-circle">
  <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
</button
><hr><button id="tags-button" type="button" class="btn btn-default btn-circle">
  <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
</button><hr>
<footer class="footer">
  <button id='log-out-button' type='button' class="btn btn-default btn-xs btn-circle">
    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
  </button>
</footer>

