


<!-- Sidebar -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
<!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <!--<span class="fa fa-bars"></span>-->
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="/#">ZephyrNote</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse collapse">
      <ul class="nav metismenu" id="side-menu">
        <li><a href="">Home</a></li>
        <li><a href="#notes/new">New Note</a></li>
        <li>
          <a href="#">More Things</a>
          <ul class="nav nav-second-level collapse">
            <li><a href="#notebooks">Notebooks</a></li>
            <li><a href="#tags">Tags</a></li>
          </ul>
        </li>
      </ul>
    </div>  
  </div>
</nav>


