<p class="sidebar">cleverNote</p>
<button id="home-button" type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
</button
><button id="notebooks-button" type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
</button>
